<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <strong><h3>Welcome to File Uploader</h3></strong>

    <form action="/fileUp" enctype="multipart/form-data" method="post">
      <input type="file" name="imgfile" multiple required></input><br><br>
      <input type="submit" value="upload!"/>
    </form>

<%
for(var i=0;i<results.length;i++){
  var result = results[i]; %>
  <div>
    <ul>
      <img src="/uploads/<%=result.imgName%>" style="width:240px">
      <a href="/fileDel/<%=result.imgNo%>">x</a>
    </ul>
  </div>
<% } %>

</body>
</html>
